/* ===============================
            player card
================================= */
.player {
    height: 600px;
    border: 1px solid;
    position: relative;
}

/* player info style */
.player-info {
    padding: 20px;
}

.player-info img {
    width: 270px;
}

.player-info h2 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.player-info p {
    margin-top: 2px;
    margin-bottom: 0;
}

/* btn-cart style */
.btn-cart {
    width: 100%;
    font-size: 15px;
    color: white;
    background-color: blue;
    border: 1px solid;
    padding: 2px 20px;
    position: absolute;
    bottom: 0;
}